*{
    background-color: #172937;
    font-family:sans-serif;
}
#bitmoji img{
    width: 20vh;
    border-radius: 10%;
}
#intro{
    margin: 5vh;
    
    background-color: #253644 ;
    padding: 2vh;
    border-radius: 10px;
}
.alwaysvis{
    display: flex;
    background-color: #253644;
}
#bitmoji{
    padding: 1vh;
    background-color: #253644;
}
#name{
    width: 35vh;
    margin-left: 5vh;
    text-align: center;
    color: #FAFAFA;
    background-color: #253644;
}
h1{
    background-color: #253644;
}
#edu{
    color: #FAFAFA;
    background-color: #253644;
    width: 35vh;
    text-align: center;
    font-size: 12px;
}
#edu p{
    padding: 1vh;
    border-radius: 10px;
}
#body{
    margin: 5vh;
    
    background-color: #253644 ;
    padding: 5vh;
    border-radius: 10px;
    color: #FAFAFA;
}
h2{
    background-color: #253644;
    font-size: xx-large;
}
.orange-line {
    width: 75px;  
              /* Set height to 0 to create a horizontal line */
    border-top: 5px solid #F27021; /* Set the color and style of the line */
    margin: 10px 0;     
    border-radius: 10px;       
}
#body p{
    background-color: #253644;
    font-weight: 300;
    font-size: 15px;
}
#para{
    background-color: #253644;
}
.skills{
    padding: 5vh;
    margin: 5vh;
    width: 30%;
    display: flex;
    border-radius: 10px;
    background-color: #172937;

}
.spara{
    margin-left: 2vh;
    padding-top: 0;
    background-color: #172937;
}
.spara p{
    background-color: #172937;
}
#skil{
    background-color: #253644;
    display: flex;
    flex-wrap: wrap;
}
.testimo{
    display: flex;
    flex-wrap: wrap;
    background-color: #253644;
    justify-content: space-around;
}
.testi{
    padding: 2vh;
    margin: 5vh;
    background-color: #172937;
    width: 30%;
    border-radius: 10px;
    
}
iframe{
    width: 250px;
    height: 200px;
}
main{
    margin: 5px;
}
@media (max-width:1025px) {
    .navbar{
        display: none;
    }
}
@media (min-width:1025px) {
    #intro{
        width: 300px;
        margin-left: 10px;
        padding: 10px;
        margin-right: 0;
        height: 850px;
        width: 350px;
        display: flex;
        flex-direction: column;
        position: sticky;
    }
    #bitmoji{
        padding-left: 75px;
    }
    .orange-line2{
        width: 100%; 
                  /* Set height to 0 to create a horizontal line */
        border-top: 1px solid #F27021; /* Set the color and style of the line */
        margin: 10px 0;     
        border-radius: 10px;       
        background-color: #253644;
    }
    main {
        display: flex;
    }
    .alwaysvis{
        display: block;
    }
    #body{
        margin-left: 5%;
    }
    #name{
        margin-left: 20px;
    }
    .navbar{
        background-color: #253644;
        justify-content: center;
        padding: 3vh;
    }
    .contact{
        display: flex;
        background-color: #253644;
        margin: 10px;
        margin-top: 30px;
    }
    .icon svg {
        color: #F27021;
        
    }
    .icon{
        padding: 10px;
        background-color: #172937;
        border-radius: 10px;
        height: 20px;
    }
    .contact div{
        margin-top: 0;
        padding-top: 0;
        margin: 10px;
    }
    .info p{
        
        background-color: #253644;
    }
    .info{
        padding-top: 0;
        margin-top: 0;
        background-color: #253644;
        color: #FAFAFA;
    }
    .spara{
        width: 400px;
        font-size: large;
        
    }
    .social svg{
        background-color: #253644;
        margin: 10px;
    }
    .social{
        background-color: #253644;
        display: flex;
        justify-content: center;
    }
    p.spara{
        background-color: #172937;
    }
}